* {
    padding: 0;
    margin: 0;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-text {
    position: absolute;
    text-align: center;
    font-size: x-large;
    color: white;
}

.video-text h1 {
    font-size: 3em;
    padding: 5px
}

.video-text h3 {
    padding: 5px;
}

video {
    width: 100vw;
    height: 100vh;
    top: 0;
    object-fit: cover;
    /* position: absolute; */
}

.overlay {
    position: absolute;
    width: 100%;
    height: calc(100% - 150px);
    background-color: rgba(0, 0, 0, 0.5);
}

.weather-button {
    border: none;
    background-color:#ADD8E6;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}