* {
    margin: 0;
    padding: 0;
}

.auth-form-container, .login-form {
    width: 100vw;
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

label {
    text-align: center;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    width: calc(200px - 2rem);
    /* border: none; */
    border-radius: 10px;
}

button {
    /* border: none; */
    /* background-color: #F4E1AF; */
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

#signInDiv {
    background-color: green;
    padding: 150px
}
