.navbar {
    background-image: linear-gradient(white, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.navbar .rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navBarButtons {
    padding-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a, .navbar .bag {
    color: black;
    text-decoration: none;
    margin: 0 0 0 25px;
    font-size: large;
}

.navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar .rightSide svg {  /*menu icon*/
    color: black;
    font-size: x-large;
}

.navbar #open {
    padding-left: 5vw;
}

.navbar #close {
    padding-left: 5vw;
}

.navbar #close img {
    display: inherit;
}

.navbar #close .hiddenLinks {
    display: none;
}

.navbar #open a, .navbar #open .bag {
    margin: 1vw;
}

.styled-hover {
    position: relative;
    overflow: hidden;
}

.styled-hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background: black;
    transition: all 0.1s;
}

.styled-hover:hover::after {
    left: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .navbar .rightSide a {
        display: none;
    }

    .navbar .rightSide {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar .rightSide button {
        display: inherit;
    }

    .navbar img {
        display: none;
    }
}

@media only screen and (min-width: 600px) { /**/
    .navbar .rightSide button {
        display: none;
    }
    .hiddenLinks {
        display: none;
    }
}